body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    background-color:lightgrey;

}

.FirstP,
.SecondP,
.ThirdP {
    padding-bottom: 15em;

}

img {
    width: 30%;
    height: fit-content;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    font-size: 3em;
    text-align: center;
    padding: 4em;
    width: 70%;
    animation: myAnimation  4s 1s 6 alternate forwards ;
}
/* 4s duration annimation 1s delay before it start 6 repeat number  */
@keyframes myAnimation {
   
    100% {
        word-spacing: 2em;
      }
  }

.navbar {
    display: flex;
    flex-direction: column;
    text-align: left;

}

h2 {
    background-color: #0084ff;
    color: #fff;
    padding: 1em;
    text-align: center;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 10%;

}

.noteadd {
    background-color: #fff;
    padding: 1em;
    text-align: left;

}

#title,
#note {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: none;
   
}

button {
    padding: 0, 5em;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
h3, p{
    text-align: left;
}